/*
	@placeholder latex
*/

latex structural.header {
	color:  #669922;
}

latex structural.header.part,
latex structural.header.chapter,
latex structural.header.section,
latex structural.header.subsection,
latex structural.header.subsubsection {
	font-weight: bold;
}

latex structural.header.paragraph,
latex structural.header.subparagraph,
latex structural.header.subsubparagraph {

}

latex structural.context {
	color:  #dd7777;
	spell-check: disabled;
}

latex identifier.function {
	color:  #9999ff;
	spell-check: disabled;
}

latex delimiter {
	color:  #aaaaaa;
}

latex metadata.processing {
	color:  #aaaaaa;
	spell-check: disabled;
}

latex structural.context.emphasis {
	font-weight:  bold;
	color:  #000000;
	spell-check: enabled;
}

latex structural.separator {
	color:  #666;
}

latex metadata.comment {
	color:  #88bb44;
}

latex structural.context.details {
	color:  #333333;
	font-weight: bold;
}

latex metadata.comment.multiline {
}


latex mathmode {
	color: #eeeeff;
}

latex mathmode delimiter {
	color: #eeeeff;
}

latex mathmode identifier.function {
	color:  #eeeeff;
	spell-check: disabled;
}
